<%- include ../partials/header.ejs %>

    <%- include ../partials/main_nav.ejs %>
        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="offset-md-1 col-md-11">
                    <h1>
                        <%= title %>
                    </h1>
                    <a href="business-contact/add" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> Add a Contact</a>
                    <table class="table table-bordered table-striped table-hover">
                        <!-- Header Row -->
                        <tr class="d-flex">
                            <th class="text-center col-3">Contact Name</th>
                            <th class="text-center col-2">Contact Number</th>
                            <th class="text-center col-3">Email Address</th>
                            <th class="text-center col-2"></th>
                            <th class="text-center col-2"></th>
                        </tr>

                        <!-- Repeatable Template Row -->
                        <% for(let count=0 ; count < BusinessContacts.length ; count++) { %>
                            <tr class="d-flex">
                                <td class="text-center col-3">
                                    <%= BusinessContacts[count].name %>
                                </td>
                                <td class="text-center col-2">
                                    <%= BusinessContacts[count].number %>
                                </td>
                                <td class="text-center col-3">
                                    <%= BusinessContacts[count].email %>
                                </td>
                                <td class="text-center col-2">
                                    <a href="business-contact/edit/<%= BusinessContacts[count]._id %>"
                                        class="btn btn-primary btn-sm">
                                        <i class="fas fa-pencil-alt"></i> Update</a>
                                </td>
                                <td class="text-center col-2">
                                    <a href="business-contact/delete/<%= BusinessContacts[count]._id %>"
                                        class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i> Delete</a>
                                </td>
                                <td class="text-center">
                                    <%= BusinessContacts[count].Email %>
                                </td>
                            </tr>
                            <% } %>
                    </table>

                </div>
            </div>
        </main>

        <%- include ../partials/bottom_nav.ejs %>

            <%- include ../partials/footer.ejs %>