<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <h2>Ying Shen</h2>
        <h3>Web Developer</h3>
        <img src="../images/me.jpg" alt="..." class="img-thumbnail" width="300px" height="240px">

        <h3>SKILL</h3>

        <li>JavaScript, Node.js</li>
        <li>Python, Machine Learning</li>
        <li>JavaScript</li>
        <li>Oracle, MySQL, NoSQL</li>
        <li>Agile</li>
        <li>DevOps</li>

      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>