<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main class="container-fluid">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
        <h2>Ying Shen</h2>
        <h3>A Web Developer</h3>
        <img src="../images/me.jpg" alt="..." class="img-thumbnail" width="500px">
        <div><a class="btn btn-primary" href="/about" role="button">About me</a></div>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>