<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
      <h2>SERVICES</h2>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Java web development</h3>
              <p class="card-text">Building secure, resilient, high-performing applications that provide functionality via internet or intranet.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Java cloud development</h3>
              <p class="card-text">Building cloud-native and serverless apps that efficiently employ cloud features (elasticity, scalability, etc.) and services.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Java-based SaaS application development</h3>
              <p class="card-text">Building secure SaaS products in fast quality releases while addressing the varying needs of tenants (compliance, cost, ease of use, etc.).</p>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




